In [20]:
"""
まずは
"""
import pandas as pd

dir = "../data/"

df = pd.read_csv(dir + "windy_value/date/value_bottom_val_date.csv", header=None)
print(df)

#dataディレクトリの下のディレクトリ
windy_value = ["date","max_wind_speed","swell","swell_spacing","time_hour","wave_height","wind_speed"]

#data/*/ディレクトリの中の*_top_*.csvファイル
value_top_data = ["value_top_val_date.csv","value_top_val_max_wind_speed.csv","value_top_val_swell.csv",
                  "value_top_val_swell_spacing.csv","value_top_val_time_hour.csv","value_top_val_wave_height.csv",
                 "value_top_val_wind_speed.csv"]

             0           1           2           3           4           5  \
0   2020-08-13  2020-08-14  2020-08-15  2020-08-16  2020-08-17  2020-08-18
1   2020-09-01  2020-09-02  2020-09-03  2020-09-04  2020-09-05  2020-09-06
2   2020-09-02  2020-09-03  2020-09-04  2020-09-05  2020-09-06  2020-09-07
3   2020-09-03  2020-09-04  2020-09-05  2020-09-06  2020-09-07  2020-09-08
4   2020-09-04  2020-09-05  2020-09-06  2020-09-07  2020-09-08  2020-09-09
..         ...         ...         ...         ...         ...         ...
73  2021-01-10  2021-01-11  2021-01-12  2021-01-13  2021-01-14  2021-01-15
74  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
75  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18
76  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
77  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

             6           7           8           9
0   2020-08-19  2020-08-20  2020-08-21  2020-08-22
1   2020-09-07  2020-09-08  2020-09-09  2020-09-10
2   2020-09-08  2020-09-09  2020-09-10  2020-09-11
3   2020-09-09  2020-09-10  2020-09-11  2020-09-12
4   2020-09-10  2020-09-11  2020-09-12  2020-09-13
..         ...         ...         ...         ...
73  2021-01-16  2021-01-17  2021-01-18  2021-01-19
74  2021-01-18  2021-01-19  2021-01-20  2021-01-21
75  2021-01-19  2021-01-20  2021-01-21  2021-01-22
76  2021-01-20  2021-01-21  2021-01-22  2021-01-23
77  2021-01-21  2021-01-22  2021-01-23  2021-01-24

[78 rows x 10 columns]

In [88]:
eng_name_dic = {
    "taketomi_route" : ["isigaki_dep", "taketomi_dep"],
    "kurosima_route" : ["isigaki_dep", "kurosima_dep"],
    "kohama_route" : ["isigaki_dep", "kohama_dep"],
    "iriomote_uehara_route" : ["isigaki_dep", "uehara_dep"],
    "hatoma_route" : ["isigaki_dep", "hatoma_dep"],
    "iriomote_ohara_route" : ["isigaki_dep", "ohara_dep"],
   "hateruma_route" : ["isigaki_dep", "hateruma_dep"]
                                           }

In [100]:
import pathlib
import glob
import re
import pprint
import os

#安栄観光の欠航データCSV
def csv_file_make(route_name,dep):
    """
    安栄観光の教師データのcsvファイル名を配列に格納
    parameters
    ----------
    route_name : str
        航路名
    dep : str
        出発港
        
    return
    ------
    csv_file : list[str]
        安栄観光の教師データの配列([2020-08-02.csv,...])
    """
    csv_file = [os.path.basename(p) for p in glob.glob(dir + '/route/'+route_name+'/'+dep+'/*', recursive=True)
         if os.path.isfile(p) and re.search(r'2020-[0|1][8|9|10|11|12|1]-.*',p)]
    csv_file = sorted(csv_file)
    return csv_file
    
route_name="taketomi_route"
dep="isigaki_dep"
csv_file = csv_file_make(route_name,dep)
print(csv_file)

# #教師データのcsvファイル名の格納
# #print(re.findall('(.*).csv', csv_file[0]))
# date_data = re.findall('(.*).csv', csv_file[0])
# # ['2020-08-01']

# date_in = df[df[0].isin([date_data])]
# #print(date_in)

# df_bool = df[0] == date_data[0]
# #print(df_bool.values.sum())
# if df_bool.values.sum() == 0:
#     #for文continu
#     pass
# else:
#     #日付がある場合なら処理(windy_valueがあるということ)
#     pass
# #date_in

['2020-08-02.csv', '2020-08-03.csv', '2020-08-04.csv', '2020-08-05.csv', '2020-08-06.csv', '2020-08-07.csv', '2020-08-08.csv', '2020-08-09.csv', '2020-08-10.csv', '2020-08-11.csv', '2020-08-12.csv', '2020-08-13.csv', '2020-08-14.csv', '2020-08-15.csv', '2020-08-16.csv', '2020-08-17.csv', '2020-08-18.csv', '2020-08-19.csv', '2020-08-20.csv', '2020-08-21.csv', '2020-08-22.csv', '2020-08-23.csv', '2020-08-24.csv', '2020-08-25.csv', '2020-08-26.csv', '2020-08-27.csv', '2020-08-28.csv', '2020-08-29.csv', '2020-08-30.csv', '2020-08-31.csv', '2020-09-01.csv', '2020-09-02.csv', '2020-09-03.csv', '2020-09-04.csv', '2020-09-05.csv', '2020-09-06.csv', '2020-09-07.csv', '2020-09-08.csv', '2020-09-09.csv', '2020-09-10.csv', '2020-09-11.csv', '2020-09-12.csv', '2020-09-13.csv', '2020-09-14.csv', '2020-09-15.csv', '2020-09-16.csv', '2020-09-17.csv', '2020-09-18.csv', '2020-09-19.csv', '2020-09-20.csv', '2020-09-21.csv', '2020-09-22.csv', '2020-09-23.csv', '2020-09-24.csv', '2020-09-25.csv', '2020-09-26.csv', '2020-09-27.csv', '2020-09-28.csv', '2020-09-29.csv', '2020-09-30.csv', '2020-10-01.csv', '2020-10-02.csv', '2020-10-03.csv', '2020-10-04.csv', '2020-10-05.csv', '2020-10-06.csv', '2020-10-07.csv', '2020-10-08.csv', '2020-10-09.csv', '2020-10-10.csv', '2020-10-11.csv', '2020-10-12.csv', '2020-10-13.csv', '2020-10-14.csv', '2020-10-15.csv', '2020-10-16.csv', '2020-10-17.csv', '2020-10-18.csv', '2020-10-19.csv', '2020-10-20.csv', '2020-10-21.csv', '2020-10-22.csv', '2020-10-23.csv', '2020-10-24.csv', '2020-10-25.csv', '2020-10-26.csv', '2020-10-27.csv', '2020-10-28.csv', '2020-10-29.csv', '2020-10-30.csv', '2020-10-31.csv', '2020-11-01.csv', '2020-11-02.csv', '2020-11-03.csv', '2020-11-04.csv', '2020-11-05.csv', '2020-11-06.csv', '2020-11-07.csv', '2020-11-08.csv', '2020-11-09.csv', '2020-11-10.csv', '2020-11-11.csv', '2020-11-12.csv', '2020-11-13.csv', '2020-11-14.csv', '2020-11-15.csv', '2020-11-16.csv', '2020-11-17.csv', '2020-11-18.csv', '2020-11-19.csv', '2020-11-20.csv', '2020-11-21.csv', '2020-11-22.csv', '2020-11-23.csv', '2020-11-24.csv', '2020-11-25.csv', '2020-11-26.csv', '2020-11-27.csv', '2020-11-28.csv', '2020-11-29.csv', '2020-11-30.csv', '2020-12-01.csv', '2020-12-02.csv', '2020-12-03.csv', '2020-12-04.csv', '2020-12-05.csv', '2020-12-06.csv', '2020-12-07.csv', '2020-12-08.csv', '2020-12-09.csv', '2020-12-10.csv', '2020-12-11.csv', '2020-12-12.csv', '2020-12-13.csv', '2020-12-14.csv', '2020-12-15.csv', '2020-12-16.csv', '2020-12-17.csv']

In [23]:
#windyの数値データのデータフレームをリスト格納
#now_windyはまだ
def windy_value_in(windy_value):
    """
    1番
    parameters
    ----------
    windy_value : list[str]
        windyデータの特徴量の名前
    """
    value_file_list = []
    for i in windy_value:
        value_file = glob.glob(os.path.join(dir + 'windy_value/'+i+'/', '*'))
        #print(dir + 'windy_value/'+i+'/')
        value_file = sorted(value_file)
        value_file_list.append(value_file)    #2次元配列
    #value_file_list = sorted(value_file_list)

    print(value_file_list)

    df_7 = []    #windy_valueのcsvをデータフレームにしたリスト

    for i in value_file_list:
        #print(i)
        for l, value in enumerate(i):
            print(value)
            df_7.append(pd.read_csv(value, header=None))
            #print(df)
                #df_7[0] = df
    
    return df_7

df_7 = windy_value_in(windy_value)
#print(df_7)

[['../data/windy_value/date/value_bottom_val_date.csv', '../data/windy_value/date/value_top_val_date.csv'], ['../data/windy_value/max_wind_speed/value_bottom_val_max_wind_speed.csv', '../data/windy_value/max_wind_speed/value_top_val_max_wind_speed.csv'], ['../data/windy_value/swell/value_bottom_val_swell.csv', '../data/windy_value/swell/value_top_val_swell.csv'], ['../data/windy_value/swell_spacing/value_bottom_val_swell_spacing.csv', '../data/windy_value/swell_spacing/value_top_val_swell_spacing.csv'], ['../data/windy_value/time_hour/value_bottom_val_time_hour.csv', '../data/windy_value/time_hour/value_top_val_time_hour.csv'], ['../data/windy_value/wave_height/value_bottom_val_wave_height.csv', '../data/windy_value/wave_height/value_top_val_wave_height.csv'], ['../data/windy_value/wind_speed/value_bottom_val_wind_speed.csv', '../data/windy_value/wind_speed/value_top_val_wind_speed.csv']]
../data/windy_value/date/value_bottom_val_date.csv
../data/windy_value/date/value_top_val_date.csv
../data/windy_value/max_wind_speed/value_bottom_val_max_wind_speed.csv
../data/windy_value/max_wind_speed/value_top_val_max_wind_speed.csv
../data/windy_value/swell/value_bottom_val_swell.csv
../data/windy_value/swell/value_top_val_swell.csv
../data/windy_value/swell_spacing/value_bottom_val_swell_spacing.csv
../data/windy_value/swell_spacing/value_top_val_swell_spacing.csv
../data/windy_value/time_hour/value_bottom_val_time_hour.csv
../data/windy_value/time_hour/value_top_val_time_hour.csv
../data/windy_value/wave_height/value_bottom_val_wave_height.csv
../data/windy_value/wave_height/value_top_val_wave_height.csv
../data/windy_value/wind_speed/value_bottom_val_wind_speed.csv
../data/windy_value/wind_speed/value_top_val_wind_speed.csv

In [24]:
#windyの数値データのデータフレームをリスト格納
#now_windyはまだ
def now_windy_value_in(windy_value):
    """
    1番
    parameters
    ----------
    windy_value : list[str]
        windyデータの特徴量の名前
    """
    
    df_now = []    #全てをまとめた配列
    
    for i in ["9:00","11:00","13:00","15:00","17:00"]:
        value_file_list = []
        for l in windy_value:
            value_file = glob.glob(os.path.join(dir + 'now_value_scrape/'+l+'/'+i+'/', '*'))
            #print(dir + 'now_value_scrape/'+i+'/9:00/')
            #print(value_file)
            value_file = sorted(value_file)
            value_file_list.append(value_file)    #2次元配列
        #value_file_list = sorted(value_file_list)
        #for i in value_file_list:
            #print(i)
        #print(value_file_list)

        df_now_time = []    #windy_valueのcsvをデータフレームにしたリスト

        for i in value_file_list:
            #print(i)
            for l, value in enumerate(i):
                #print(value)
                df_now_time.append(pd.read_csv(value, header=None))
                #print(df)
                    #df_7[0] = df
        df_now.append(df_now_time)
    
    return df_now

df_now = now_windy_value_in(windy_value)
#print(df_7)
print(len(df_now))

5

In [25]:
def date_value_mer_7(df_7):
    """
    2番
    日付データと数値データを結合させている
    df_7は日付の入ったdfの配列
    7:00に取得したwindy_value
    """
    df_top_value = []
    df_bottom_value = []
    for i, value in enumerate(df_7):
        #print(value)
        #print(i)
        if i == 0:    #bottom(偶数がボトム)
            df_bottom = value
        elif i == 1:    #top(奇数がトップ)
            df_top = value
        elif i%2 == 0:
            #print(df_bottom)
            df_bottom_value.append(pd.concat([df_bottom, value], axis=1, join='inner'))
            #print(df_bottom_value)
        elif i%2 == 1:
            df_top_value.append(pd.concat([df_top, value], axis=1, join='inner'))
    return df_bottom_value,df_top_value

df_bottom_value,df_top_value = date_value_mer_7(df_7)

In [26]:
def date_value_mer_now(df_now):
    """
    2番
    日付データと数値データを結合させている
    df_nowは日付の入ったdfの配列 df_now[9:00[value],7:00[value],,,17:00[value]]
    
    
    """

    df_top_value_now = []
    df_bottom_value_now = []
    for l in df_now:    #df_nowの最初の次元は時間ごとで区切られた要素
        df_top_value = []
        df_bottom_value = []
        for i, value in enumerate(l):    #特徴ごとに区切られた要素
            #print(value)
            #print(i)
            if i == 0:    #bottom(偶数がボトム)
                df_bottom = value
            elif i == 1:    #top(奇数がトップ)
                df_top = value
            elif i == 3:    #value_bottom_val_max_wind_speed_dir.csv
                df_bottom_value.append(pd.concat([df_bottom, value], axis=1, join='inner'))
            elif i == 4:    #value_top_val_max_wind_speed_dir.csv
                df_top_value.append(pd.concat([df_top, value], axis=1, join='inner'))  
            elif i == 7:    #value_bottom_val_swell_dir.csv
                df_bottom_value.append(pd.concat([df_bottom, value], axis=1, join='inner'))
            elif i == 8:    #value_top_val_swell.csv
                df_top_value.append(pd.concat([df_top, value], axis=1, join='inner'))
            elif i == 15:    #value_bottom_val_wave_height_dir.csv
                df_bottom_value.append(pd.concat([df_bottom, value], axis=1, join='inner'))
            elif i == 16:    #value_top_val_wave_height.csv
                df_top_value.append(pd.concat([df_top, value], axis=1, join='inner'))
            elif i%2 == 0:
                df_bottom_value.append(pd.concat([df_bottom, value], axis=1, join='inner'))
            elif i%2 == 1:
                df_top_value.append(pd.concat([df_top, value], axis=1, join='inner'))
        
        df_top_value_now.append(df_top_value)
        df_bottom_value_now.append(df_bottom_value)
        
    return df_bottom_value_now,df_top_value_now

df_bottom_value_now,df_top_value_now = date_value_mer_now(df_now)
print(len(df_bottom_value_now),len(df_top_value_now))
for i in df_bottom_value_now:
    print(i)
    break

5 5
[            0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...  54  55  56  57  58  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  20  17  14  14  12
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  12  12   8   9  10
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...  15  26  24  26  28
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...  31  29  26  23  24
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...  24  24  24  19  18
..         ...         ...         ...         ...  ...  ..  ..  ..  ..  ..
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  16  20  19  16  20
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...  17  16  18  19  23
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  17  22  23  21  22
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  17  22  23  21  22
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  24  28  30  29  30

    59  60  61  62  63
0    9   8  18  30  28
1   11  15  18  26  29
2   26  22  20  22  21
3   18  17   9  11  12
4   19  13   8  10  13
..  ..  ..  ..  ..  ..
57  23  25  31  32  40
58  27  34  34  36  25
59  20  18  26  29  25
60  20  18  26  29  25
61  27  28  36  29  30

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...   54   55   56   57  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  209  187  203  203
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  160  161  198  349
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...   32   54   54   51
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...   33   47   48   51
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...   72   75   82   74
..         ...         ...         ...         ...  ...  ...  ...  ...  ...
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...   57   53   56   41
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...   85   80   84   98
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  115  132  150  176
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  115  132  150  176
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...   69   77  139  162

     58   59   60   61   62   63
0   219  171  196   16   33   33
1     8   39   59   43   41   45
2    46   47   52   51   42   48
3    55   47   61   70   90  101
4    69   83   94   85   61   20
..  ...  ...  ...  ...  ...  ...
57   29   40   31   26   12   17
58  114  108  122  159  226  341
59  189  192  211   20   52   43
60  189  192  211   20   52   43
61  180  211  338    7  358   22

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...   54   55   56   57  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  0.6  0.8  0.8  0.8
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  0.7  0.7  0.6  0.6
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...  0.6  0.8  0.8  0.6
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...  0.5  0.9  1.0  0.8
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...  0.7  0.8  1.2  1.0
..         ...         ...         ...         ...  ...  ...  ...  ...  ...
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  1.6  1.7  1.8  1.7
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...  1.0  1.1  1.2  1.3
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  1.6  1.7  1.9  1.9
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  1.6  1.7  1.9  1.9
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  1.5  1.3  2.0  2.2

     58   59   60   61   62   63
0   0.7  0.8  0.7  0.7  0.5  0.7
1   0.6  0.8  0.9  0.8  0.8  1.0
2   0.6  0.9  0.8  0.9  0.8  0.8
3   0.8  0.7  0.8  0.6  0.6  0.6
4   0.9  0.9  0.8  0.7  0.6  0.6
..  ...  ...  ...  ...  ...  ...
57  1.6  1.6  1.6  1.5  1.5  1.4
58  1.7  1.3  1.3  2.2  2.0  1.7
59  1.8  1.5  1.5  1.4  1.3  1.3
60  1.8  1.5  1.5  1.4  1.3  1.3
61  2.1  2.1  1.6  1.4  1.2  1.3

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...   54   55   56   57  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  122  152  155  159
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  171  175  176  352
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...   12   17   22   98
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...   93   44   54   27
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...   95   78   84   88
..         ...         ...         ...         ...  ...  ...  ...  ...  ...
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  104  103   99   99
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...  106  109  109  111
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  107  100  104  107
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  107  100  104  107
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  107  115   86   95

     58   59   60   61   62   63
0   166  358  172    9  174   12
1   357    3   11   16    8   40
2   102   55  105  100  102  101
3    28   19   91  104  101  100
4    90   90   92   92   92   91
..  ...  ...  ...  ...  ...  ...
57   98   98   96   96   93   95
58  111  114  106  116  114  111
59  112  106  116  118  114  113
60  112  106  116  118  114  113
61  100  110  105  105  107  105

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...   54   55   56   57  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  5.2  5.2  5.4  5.5
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  5.8  5.8  5.9  6.8
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...  7.2  7.1  7.7  9.8
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...  9.3  7.6  7.5  7.5
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...  7.3  7.1  6.8  7.0
..         ...         ...         ...         ...  ...  ...  ...  ...  ...
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  8.3  8.5  8.3  8.5
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...  7.8  7.8  7.5  7.9
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  8.1  8.7  8.6  8.6
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  8.1  8.7  8.6  8.6
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  8.7  7.9  8.4  8.5

     58   59   60   61   62   63
0   5.9  7.3  6.4  6.7  5.9  7.9
1   7.3  7.3  7.1  7.1  7.3  7.3
2   8.9  7.0  6.7  6.8  6.9  6.7
3   6.8  6.4  6.3  6.7  7.4  7.4
4   7.0  6.5  6.6  7.1  7.4  7.6
..  ...  ...  ...  ...  ...  ...
57  8.7  8.8  9.0  9.1  9.0  9.2
58  8.1  9.3  9.1  8.5  8.2  8.4
59  8.4  8.5  8.0  8.2  8.5  8.4
60  8.4  8.5  8.0  8.2  8.5  8.4
61  8.5  8.1  8.4  8.7  8.8  8.9

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...  54  55  56  57  58  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  15  21   3   9  15
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  15  21   3   9  15
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...  15  21   3   9  15
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...  15  21   3   9  15
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...  15  21   3   9  15
..         ...         ...         ...         ...  ...  ..  ..  ..  ..  ..
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  15  21   3   9  15
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...  15  21   3   9  15
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  15  21   3   9  15
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  15  21   3   9  15
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  15  21   3   9  15

    59  60  61  62  63
0   21   3   9  15  21
1   21   3   9  15  21
2   21   3   9  15  21
3   21   3   9  15  21
4   21   3   9  15  21
..  ..  ..  ..  ..  ..
57  21   3   9  15  21
58  21   3   9  15  21
59  21   3   9  15  21
60  21   3   9  15  21
61  21   3   9  15  21

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...   54   55   56   57  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  0.9  0.8  0.8  0.9
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  0.9  0.9  0.9  0.9
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...  0.9  1.3  1.3  1.4
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...  1.5  1.5  1.4  1.3
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...  1.1  1.2  1.2  1.1
..         ...         ...         ...         ...  ...  ...  ...  ...  ...
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  1.5  1.6  1.6  1.6
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...  1.1  1.2  1.3  1.4
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  1.6  1.8  2.0  1.9
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  1.6  1.8  2.0  1.9
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  1.7  2.1  2.5  2.4

     58   59   60   61   62   63
0   1.1  1.1  1.1  1.1  1.4  1.3
1   0.9  1.0  1.1  1.1  1.3  1.7
2   1.4  1.3  1.2  1.2  1.1  1.1
3   1.1  1.1  0.9  0.8  0.8  0.7
4   1.0  0.9  0.8  0.7  0.6  0.6
..  ...  ...  ...  ...  ...  ...
57  1.5  1.6  1.6  1.9  1.9  2.3
58  1.8  2.2  2.5  2.4  2.3  1.8
59  1.8  1.6  1.4  1.4  1.4  1.5
60  1.8  1.6  1.4  1.4  1.4  1.5
61  2.3  2.1  1.9  1.9  1.6  1.6

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...   54   55   56   57  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  157  147  150  142
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  139  140  132   95
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...   34   36   39   45
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...   35   45   51   55
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...   67   73   79   81
..         ...         ...         ...         ...  ...  ...  ...  ...  ...
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  101   98   98   96
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...   86   95  102  106
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  110  114  120  122
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  110  114  120  122
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...   96   95  108  115

     58   59   60   61   62   63
0    91   32   42   30   29   25
1    38   20   25   35   38   42
2    48   56   62   66   64   66
3    56   59   64   65   69   73
4    82   84   87   88   88   81
..  ...  ...  ...  ...  ...  ...
57   92   88   82   64   53   38
58  111  113  116  127  138  127
59  127  124  127  118   98   92
60  127  124  127  118   98   92
61  125  130  122   60   62   45

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...  54  55  56  57  58  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  11   4   6   8   4
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...   7   4   4   1   4
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...   9  15  17  19  19
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...  19  18  16  15  12
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...  13  15  12  11  11
..         ...         ...         ...         ...  ...  ..  ..  ..  ..  ..
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  12  14  11  12  15
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...   9  11  11  13  14
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  12  16  16  15  15
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  12  16  16  15  15
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  19  21  22  20  21

    59  60  61  62  63
0    2   2  12  19  17
1    5   9  11  16  18
2   16  14  13  16  13
3    9   5   5   6   7
4    9   4   4   4   8
..  ..  ..  ..  ..  ..
57  15  19  23  24  28
58  18  21  18  11   9
59   9  12  17  15  17
60   9  12  17  15  17
61  17  21  22  20  20

[62 rows x 74 columns]]

In [27]:
#print(csv_file)
#df_top_value[0]
df_bottom_value_now[0][0]#9:00のmax_wind

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,2020-09-11,2020-09-12,2020-09-13,2020-09-14,2020-09-15,2020-09-16,2020-09-17,2020-09-18,2020-09-19,2020-09-20,...,20,17,14,14,12,9,8,18,30,28
1,2020-09-12,2020-09-13,2020-09-14,2020-09-15,2020-09-16,2020-09-17,2020-09-18,2020-09-19,2020-09-20,2020-09-21,...,12,12,8,9,10,11,15,18,26,29
2,2020-09-13,2020-09-14,2020-09-15,2020-09-16,2020-09-17,2020-09-18,2020-09-19,2020-09-20,2020-09-21,2020-09-22,...,15,26,24,26,28,26,22,20,22,21
3,2020-09-14,2020-09-15,2020-09-16,2020-09-17,2020-09-18,2020-09-19,2020-09-20,2020-09-21,2020-09-22,2020-09-23,...,31,29,26,23,24,18,17,9,11,12
4,2020-09-15,2020-09-16,2020-09-17,2020-09-18,2020-09-19,2020-09-20,2020-09-21,2020-09-22,2020-09-23,2020-09-24,...,24,24,24,19,18,19,13,8,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2021-01-08,2021-01-09,2021-01-10,2021-01-11,2021-01-12,2021-01-13,2021-01-14,2021-01-15,2021-01-16,2021-01-17,...,16,20,19,16,20,23,25,31,32,40
58,2021-01-12,2021-01-13,2021-01-14,2021-01-15,2021-01-16,2021-01-17,2021-01-18,2021-01-19,2021-01-20,2021-01-21,...,17,16,18,19,23,27,34,34,36,25
59,2021-01-14,2021-01-15,2021-01-16,2021-01-17,2021-01-18,2021-01-19,2021-01-20,2021-01-21,2021-01-22,2021-01-23,...,17,22,23,21,22,20,18,26,29,25
60,2021-01-14,2021-01-15,2021-01-16,2021-01-17,2021-01-18,2021-01-19,2021-01-20,2021-01-21,2021-01-22,2021-01-23,...,17,22,23,21,22,20,18,26,29,25
61,2021-01-15,2021-01-16,2021-01-17,2021-01-18,2021-01-19,2021-01-20,2021-01-21,2021-01-22,2021-01-23,2021-01-24,...,24,28,30,29,30,27,28,36,29,30

In [28]:
#time_check関数で帰ってくるkeyでtime_dictを使う
time_dict={
           "7:00":[df_bottom_value,df_top_value],
           "9:00":[df_bottom_value_now[0],df_top_value_now[0]],
           "11:00":[df_bottom_value_now[1],df_top_value_now[1]],
           "13:00":[df_bottom_value_now[2],df_top_value_now[2]],
           "15:00":[df_bottom_value_now[3],df_top_value_now[3]],
           "17:00":[df_bottom_value_now[4],df_top_value_now[4]]
                    }
x=time_dict["9:00"]
x_b=x[0]
print(x_b)
#安栄観光の教師データによって使うdfを変更しなければいけないため
#0 -> bottom
#1 -> top
route_selct={
    "taketomi_route" : 0,
    "kurosima_route" : 0,
    "kohama_route" : 1,
    "iriomote_uehara_route" : 1,
    "hatoma_route" : 1,
    "iriomote_ohara_route" : 0,
   "hateruma_route" : 0
}

[            0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...  54  55  56  57  58  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  20  17  14  14  12
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  12  12   8   9  10
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...  15  26  24  26  28
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...  31  29  26  23  24
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...  24  24  24  19  18
..         ...         ...         ...         ...  ...  ..  ..  ..  ..  ..
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  16  20  19  16  20
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...  17  16  18  19  23
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  17  22  23  21  22
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  17  22  23  21  22
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  24  28  30  29  30

    59  60  61  62  63
0    9   8  18  30  28
1   11  15  18  26  29
2   26  22  20  22  21
3   18  17   9  11  12
4   19  13   8  10  13
..  ..  ..  ..  ..  ..
57  23  25  31  32  40
58  27  34  34  36  25
59  20  18  26  29  25
60  20  18  26  29  25
61  27  28  36  29  30

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...   54   55   56   57  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  209  187  203  203
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  160  161  198  349
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...   32   54   54   51
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...   33   47   48   51
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...   72   75   82   74
..         ...         ...         ...         ...  ...  ...  ...  ...  ...
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...   57   53   56   41
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...   85   80   84   98
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  115  132  150  176
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  115  132  150  176
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...   69   77  139  162

     58   59   60   61   62   63
0   219  171  196   16   33   33
1     8   39   59   43   41   45
2    46   47   52   51   42   48
3    55   47   61   70   90  101
4    69   83   94   85   61   20
..  ...  ...  ...  ...  ...  ...
57   29   40   31   26   12   17
58  114  108  122  159  226  341
59  189  192  211   20   52   43
60  189  192  211   20   52   43
61  180  211  338    7  358   22

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...   54   55   56   57  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  0.6  0.8  0.8  0.8
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  0.7  0.7  0.6  0.6
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...  0.6  0.8  0.8  0.6
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...  0.5  0.9  1.0  0.8
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...  0.7  0.8  1.2  1.0
..         ...         ...         ...         ...  ...  ...  ...  ...  ...
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  1.6  1.7  1.8  1.7
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...  1.0  1.1  1.2  1.3
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  1.6  1.7  1.9  1.9
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  1.6  1.7  1.9  1.9
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  1.5  1.3  2.0  2.2

     58   59   60   61   62   63
0   0.7  0.8  0.7  0.7  0.5  0.7
1   0.6  0.8  0.9  0.8  0.8  1.0
2   0.6  0.9  0.8  0.9  0.8  0.8
3   0.8  0.7  0.8  0.6  0.6  0.6
4   0.9  0.9  0.8  0.7  0.6  0.6
..  ...  ...  ...  ...  ...  ...
57  1.6  1.6  1.6  1.5  1.5  1.4
58  1.7  1.3  1.3  2.2  2.0  1.7
59  1.8  1.5  1.5  1.4  1.3  1.3
60  1.8  1.5  1.5  1.4  1.3  1.3
61  2.1  2.1  1.6  1.4  1.2  1.3

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...   54   55   56   57  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  122  152  155  159
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  171  175  176  352
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...   12   17   22   98
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...   93   44   54   27
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...   95   78   84   88
..         ...         ...         ...         ...  ...  ...  ...  ...  ...
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  104  103   99   99
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...  106  109  109  111
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  107  100  104  107
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  107  100  104  107
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  107  115   86   95

     58   59   60   61   62   63
0   166  358  172    9  174   12
1   357    3   11   16    8   40
2   102   55  105  100  102  101
3    28   19   91  104  101  100
4    90   90   92   92   92   91
..  ...  ...  ...  ...  ...  ...
57   98   98   96   96   93   95
58  111  114  106  116  114  111
59  112  106  116  118  114  113
60  112  106  116  118  114  113
61  100  110  105  105  107  105

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...   54   55   56   57  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  5.2  5.2  5.4  5.5
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  5.8  5.8  5.9  6.8
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...  7.2  7.1  7.7  9.8
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...  9.3  7.6  7.5  7.5
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...  7.3  7.1  6.8  7.0
..         ...         ...         ...         ...  ...  ...  ...  ...  ...
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  8.3  8.5  8.3  8.5
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...  7.8  7.8  7.5  7.9
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  8.1  8.7  8.6  8.6
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  8.1  8.7  8.6  8.6
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  8.7  7.9  8.4  8.5

     58   59   60   61   62   63
0   5.9  7.3  6.4  6.7  5.9  7.9
1   7.3  7.3  7.1  7.1  7.3  7.3
2   8.9  7.0  6.7  6.8  6.9  6.7
3   6.8  6.4  6.3  6.7  7.4  7.4
4   7.0  6.5  6.6  7.1  7.4  7.6
..  ...  ...  ...  ...  ...  ...
57  8.7  8.8  9.0  9.1  9.0  9.2
58  8.1  9.3  9.1  8.5  8.2  8.4
59  8.4  8.5  8.0  8.2  8.5  8.4
60  8.4  8.5  8.0  8.2  8.5  8.4
61  8.5  8.1  8.4  8.7  8.8  8.9

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...  54  55  56  57  58  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  15  21   3   9  15
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  15  21   3   9  15
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...  15  21   3   9  15
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...  15  21   3   9  15
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...  15  21   3   9  15
..         ...         ...         ...         ...  ...  ..  ..  ..  ..  ..
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  15  21   3   9  15
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...  15  21   3   9  15
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  15  21   3   9  15
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  15  21   3   9  15
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  15  21   3   9  15

    59  60  61  62  63
0   21   3   9  15  21
1   21   3   9  15  21
2   21   3   9  15  21
3   21   3   9  15  21
4   21   3   9  15  21
..  ..  ..  ..  ..  ..
57  21   3   9  15  21
58  21   3   9  15  21
59  21   3   9  15  21
60  21   3   9  15  21
61  21   3   9  15  21

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...   54   55   56   57  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  0.9  0.8  0.8  0.9
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  0.9  0.9  0.9  0.9
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...  0.9  1.3  1.3  1.4
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...  1.5  1.5  1.4  1.3
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...  1.1  1.2  1.2  1.1
..         ...         ...         ...         ...  ...  ...  ...  ...  ...
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  1.5  1.6  1.6  1.6
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...  1.1  1.2  1.3  1.4
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  1.6  1.8  2.0  1.9
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  1.6  1.8  2.0  1.9
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  1.7  2.1  2.5  2.4

     58   59   60   61   62   63
0   1.1  1.1  1.1  1.1  1.4  1.3
1   0.9  1.0  1.1  1.1  1.3  1.7
2   1.4  1.3  1.2  1.2  1.1  1.1
3   1.1  1.1  0.9  0.8  0.8  0.7
4   1.0  0.9  0.8  0.7  0.6  0.6
..  ...  ...  ...  ...  ...  ...
57  1.5  1.6  1.6  1.9  1.9  2.3
58  1.8  2.2  2.5  2.4  2.3  1.8
59  1.8  1.6  1.4  1.4  1.4  1.5
60  1.8  1.6  1.4  1.4  1.4  1.5
61  2.3  2.1  1.9  1.9  1.6  1.6

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...   54   55   56   57  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  157  147  150  142
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...  139  140  132   95
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...   34   36   39   45
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...   35   45   51   55
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...   67   73   79   81
..         ...         ...         ...         ...  ...  ...  ...  ...  ...
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  101   98   98   96
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...   86   95  102  106
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  110  114  120  122
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  110  114  120  122
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...   96   95  108  115

     58   59   60   61   62   63
0    91   32   42   30   29   25
1    38   20   25   35   38   42
2    48   56   62   66   64   66
3    56   59   64   65   69   73
4    82   84   87   88   88   81
..  ...  ...  ...  ...  ...  ...
57   92   88   82   64   53   38
58  111  113  116  127  138  127
59  127  124  127  118   98   92
60  127  124  127  118   98   92
61  125  130  122   60   62   45

[62 rows x 74 columns],             0           1           2           3           4           5   \
0   2020-09-11  2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16
1   2020-09-12  2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17
2   2020-09-13  2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18
3   2020-09-14  2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19
4   2020-09-15  2020-09-16  2020-09-17  2020-09-18  2020-09-19  2020-09-20
..         ...         ...         ...         ...         ...         ...
57  2021-01-08  2021-01-09  2021-01-10  2021-01-11  2021-01-12  2021-01-13
58  2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
59  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
60  2021-01-14  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19
61  2021-01-15  2021-01-16  2021-01-17  2021-01-18  2021-01-19  2021-01-20

            6           7           8           9   ...  54  55  56  57  58  \
0   2020-09-17  2020-09-18  2020-09-19  2020-09-20  ...  11   4   6   8   4
1   2020-09-18  2020-09-19  2020-09-20  2020-09-21  ...   7   4   4   1   4
2   2020-09-19  2020-09-20  2020-09-21  2020-09-22  ...   9  15  17  19  19
3   2020-09-20  2020-09-21  2020-09-22  2020-09-23  ...  19  18  16  15  12
4   2020-09-21  2020-09-22  2020-09-23  2020-09-24  ...  13  15  12  11  11
..         ...         ...         ...         ...  ...  ..  ..  ..  ..  ..
57  2021-01-14  2021-01-15  2021-01-16  2021-01-17  ...  12  14  11  12  15
58  2021-01-18  2021-01-19  2021-01-20  2021-01-21  ...   9  11  11  13  14
59  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  12  16  16  15  15
60  2021-01-20  2021-01-21  2021-01-22  2021-01-23  ...  12  16  16  15  15
61  2021-01-21  2021-01-22  2021-01-23  2021-01-24  ...  19  21  22  20  21

    59  60  61  62  63
0    2   2  12  19  17
1    5   9  11  16  18
2   16  14  13  16  13
3    9   5   5   6   7
4    9   4   4   4   8
..  ..  ..  ..  ..  ..
57  15  19  23  24  28
58  18  21  18  11   9
59   9  12  17  15  17
60   9  12  17  15  17
61  17  21  22  20  20

[62 rows x 74 columns]]

In [118]:
from datetime import datetime as dt
#img_time_com = ["08:00:00","10:00:00","12:00:00","14:00:00","16:00:00"]
val_time_com = [800,1000,1200,1400,1600]
now_time = ["9:00","11:00","13:00","15:00","17:00"]
dir_label = dir + 'route/taketomi_route/isigaki_dep/' + csv_file[12]

def time_check(row,val_time_com,img_time):
    """
    安栄観光のデータの出発時間により参照するファイルを変更する
    時間によって処理を変更する
    
    paramenters
    -----------
    df : DataFrame
        安栄観光のcsvをdfにしたもので中身
        列名["Time","Label","Date"]
        要素[07:50,0,2020-08-02]
    val_time_com : list[str]
        Timeの比較に必要な時間の配列([800,1000,1200,1400,1600])
    now_time : list[str]
        比較した結果now_valueのpath記述に必要な時間の文字列("9:00","11:00","13:00","15:00","17:00")
    
    return
    ------
    key : str
        安観光データの時間によって参照するwindy_valueのdfを変更するためのkeyを返す
    """
    #df[0] = pd.to_datetime(df[0]) 


    for i in range(len(val_time_com)):    #出発時間の比較のために5回回す

        int_time = re.sub('(\d+):(\d+).*', '\\1\\2',row[1])
        #print(int_time)
        if int(int_time) < val_time_com[i]:    #航路出発時間 < 数値の取得時間(7:00~17:00)
            if 0 == i:
                #print(int_time)
                key="7:00"
                #print(key)
            else:
                key = now_time[i-1]
                #print(img_time_com[i],"")
                #print(key,"key")

            break
        elif 4 == i:    #4はimg_time_comのすべてにかからなかった場合最終ループであるのことの確認
            key = now_time[i]
                #print(key,"key")
        #print("1行")

    return key
df = pd.read_csv(dir_label, header=None)
#テスト
for row in df.itertuples():    #dfを一行ずつ回す
    print(row)
    time_check(row,val_time_com,now_time)

Pandas(Index=0, _1='07:30', _2=0, _3='2020-08-14')
Pandas(Index=1, _1='08:30', _2=0, _3='2020-08-14')
Pandas(Index=2, _1='09:30', _2=0, _3='2020-08-14')
Pandas(Index=3, _1='10:30', _2=0, _3='2020-08-14')
Pandas(Index=4, _1='11:30', _2=0, _3='2020-08-14')
Pandas(Index=5, _1='13:00', _2=0, _3='2020-08-14')
Pandas(Index=6, _1='14:00', _2=0, _3='2020-08-14')
Pandas(Index=7, _1='15:00', _2=0, _3='2020-08-14')
Pandas(Index=8, _1='16:00', _2=0, _3='2020-08-14')
Pandas(Index=9, _1='17:00', _2=0, _3='2020-08-14')
Pandas(Index=10, _1='18:00', _2=0, _3='2020-08-14')

In [125]:
def value_merge(df_value,date_str,df_y,value_colum):
    """
    date+valueのdfをループさせ任意の日付のvalueをdf_merge_1に結合させていく関数
    
    prmeters
    --------
    df_value : dataframe
        date+valueのdf
    date_str : str
        日付のstr
    df_y : dataframe
        安栄観光のデータ1行分
    value_colum : int
        時間によって処理を変更しなけらばならない
    """
    for j, l in enumerate(df_value):                              #valueのdfの配列がdf_value

        l_col_dup = list(l.columns)                               #カラムの列をリストで取得
        new_columns = [x for x in range(0, len(l_col_dup), 1)]    #0~カラム数分の配列作成
        l.columns = new_columns                                   #カラムの入れ替え
        #print(df_top[df_top[0] == date_str])
        try:                                                      #windy_valueにその日付がない場合の処理
            #df_xは特徴量
            df_x = l[l[0] == date_str]              #任意の日付の行を0列から抽出(windy_valueの値)
            if df_x.empty:
                nan_flag = 1
                #print('DataFrame is empty!')
            else:
                nan_flag = 0
        except:
            continue                                #日付が無い場合はとばす

        df_x = df_x.reset_index(drop=True)
        df_y = df_y.reset_index(drop=True)
        #print(df_x)
        #print(j)
        if j == 0:
            #df_x[value_colum]は時間によって変更しなければいけない
            df_result = pd.concat([df_y, df_x[value_colum]], axis=1)
            dfre_col_dup = list(df_result.columns) 
            new_columns = [x for x in range(0, len(dfre_col_dup), 1)]    #0~カラム数分の配列作成
            #print(new_columns)
            df_result.columns = new_columns
            df_merge = df_result

        elif j != 0:
            #df_x[value_colum]は時間によって変更しなければいけない
            #print(df_x)
            #print(df_x[value_colum])
            df_merge = pd.concat([df_merge, df_x[value_colum]], axis=1)
            dfre_col_dup = list(df_merge.columns) 
            new_columns = [x for x in range(0, len(dfre_col_dup), 1)]    #0~カラム数分の配列作成
            #print(new_columns)
            df_merge.columns = new_columns
            df_merge_1 = df_merge
            #print(df_merge_1)

    return df_merge_1,nan_flag

In [126]:
def new_col(df_merge):
    dfre_col_dup = list(df_merge.columns) 
    new_columns = [x for x in range(0, len(dfre_col_dup), 1)]    #0~カラム数分の配列作成
    df_merge.columns = new_columns
    return df_merge

In [127]:
def merge_7(df_merge_1, df_merge_7):
    df_merge_1 = pd.concat([df_merge_1, df_merge_7[[4,6,10]]], axis=1)
    df_merge_1 = new_col(df_merge_1)
    df_merge_1 = df_merge_1.reindex(columns=[0,1,2,3,9,4,10,5,6,7,11,8])
    df_merge_1 = new_col(df_merge_1)
    return df_merge_1

In [134]:
#日付の計算を行うための
import pandas.tseries.offsets as offsets
#df_yの時間部分の正規表現で置き換える際に出るwarningの対策
import warnings
warnings.simplefilter('ignore')

"""
3番
dir_labelは安栄観光のデータ
たぶんここでwindyのほうに日付がない場合の処理を入れないといけない
時間があっていると言う仮定で実行する関数
route_selectを直す必要あり

"""

def label_df(dir_label,df_value_dic,days_ago,route_name) :
    """
    日付ごとの教師データをdfに変換
    
    parameters
    ---------------
    dir_label : str
        教師データのあるcsvファイルのパス
    value_colum : int
        時間によって取得するwindy_valueのカラムが違うため(7:00->12)
    df_value : dataframe
        windy_valueの
    """
    value_col = {
        "7:00":12,
        "9:00":13,
        "11:00":14,
        "13:00":14,
        "15:00":15,
        "17:00":12
    }
    df = pd.read_csv(dir_label, header=None)    #安栄観光の教師データ
    df[2]= pd.to_datetime(df[2])                #日付データをdatetime型に(2020-08-14)
    #print(df)
    df_merge_end = None
    for i, row in enumerate(df.itertuples()):   #安栄観光のデータ数の分ループ(07:30  0 2020-08-14)
        #print(row)
        #print("教師データ日付:　",row[3],"\n引いた日付:　",row[3]-offsets.Day(days_ago),)
        #print(type(row[3]))
        date_str = str(row[3]-offsets.Day(days_ago))
        date_str = re.sub('(\d*-\d*-\d*) (\d*:\d*:\d*)', '\\1', date_str)
        #print(date_str)
        #df_yは教師ラベル
        df_y = df.query('index == @i')                            #i番目のindex(安栄観光のdfの1行)
        df_y[0] = df_y[0].replace(regex='(\d+):(\d+).*', value='\\1\\2')

        val_time_com = [800,1000,1200,1400,1600]
        now_time = ["9:00","11:00","13:00","15:00","17:00"]
        try:
            key = time_check(row,val_time_com,now_time)                   #安栄観光データの時間列をチェックして時間を返す
        except:
            continue
        df_value_x = df_value_dic[key]                                #辞書からkey(時間[7:00])を参照してwindy_valueのdfを受け取る
        #---
        #7:00の時に角度などの特徴量も参照しないといけないため
        if key == "7:00":
            df_value_x_7 = df_value_dic["9:00"]
            route_dic_7 = route_selct[route_name]                     #航路がtopかbottomかを決定する(0または1)
            df_value_7 = df_value_x_7[route_dic_7]
            df_merge_7,nan_flag = value_merge(df_value_7,date_str,df_y,value_col[key])  #9:00の時のvalue
            #print(type(df_merge_7),"\ndf_merge_7")
        #---
        #print(len(df_value_x))
        #今はテストで竹富航路を代入　関数の引数でもらってくる予定
        route_dic = route_selct[route_name]                     #航路がtopかbottomかを決定する(0または1)
        df_value = df_value_x[route_dic]
        #print(df_value)
        #関数にした
        df_merge_1,nan_flag = value_merge(df_value,date_str,df_y,value_col[key])
 
        if key == "7:00":
            df_merge_1 = merge_7(df_merge_1, df_merge_7)
            #print(df_merge_1)
        #valueの値がない時の処理
        if nan_flag == 0:
            df_merge_end = pd.concat([df_merge_end, df_merge_1])
        else:
            continue
            
        #print(df_merge_end)
        
    return df_merge_end

#何日前のデータを使用するか
days_ago = 2

#csv_file[12] ←今の時点ではforを回していない
dir_label = dir + 'route/taketomi_route/isigaki_dep/' + csv_file[12]
print(dir_label)
value_colum = 12    #今は例として7:00
#df_value = df_top_value[0]   #windy_valueのdfの中のmax_wind
df_value = time_dict   #windy_valueのdfが格納された辞書
route_name="taketomi_route"
df_result_x = label_df(dir_label,df_value,days_ago,route_name)
print(nan_flag)
df_result_x

../data/route/taketomi_route/isigaki_dep/2020-08-14.csv
1

In [58]:
print(csv_file[127])

2020-12-07.csv

In [139]:
def df_combination(days_ago):
    
    df_com = None
    for route_name,dep in eng_name_dic.items():
        for i in dep:
            print(i)
            csv_file = csv_file_make(route_name,i)
            for l in csv_file:
                dir_label = dir + 'route/'+route_name+'/'+i+'/' + l
                #print(dir_label)
                #df_value = df_top_value[0]   #windy_valueのdfの中のmax_wind
                df_value = time_dict   #windy_valueのdfが格納された辞書

                df_result_x = label_df(dir_label,df_value,days_ago,route_name)
                try :
                    df_com = pd.concat([df_com, df_result_x])
                except Exception as e:
                    print(e)
                    continue
                    #print("この日付のデータは無し")
                #print(df_result)
            df_com.to_csv('../data/df_com_all_2/'+route_name+'_'+i+'_'+str(days_ago)+'.csv', header=False, index=False)
            #break
        #
# route_name="taketomi_route"
# dep="isigaki_dep"
for i in range(1,10):
    print(i)
    days_ago=i
    df_combination(days_ago)

1
isigaki_dep
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
taketomi_dep
isigaki_dep
kurosima_dep
isigaki_dep
kohama_dep
isigaki_dep
uehara_dep
isigaki_dep
hatoma_dep
isigaki_dep
ohara_dep
isigaki_dep
hateruma_dep
2
isigaki_dep
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
taketomi_dep
isigaki_dep
kurosima_dep
isigaki_dep
kohama_dep
isigaki_dep
uehara_dep
isigaki_dep
hatoma_dep
isigaki_dep
ohara_dep
isigaki_dep
hateruma_dep
3
isigaki_dep
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
taketomi_dep
isigaki_dep
kurosima_dep
isigaki_dep
kohama_dep
isigaki_dep
uehara_dep
isigaki_dep
hatoma_dep
isigaki_dep
ohara_dep
isigaki_dep
hateruma_dep
4
isigaki_dep
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
taketomi_dep
isigaki_dep
kurosima_dep
isigaki_dep
kohama_dep
isigaki_dep
uehara_dep
isigaki_dep
hatoma_dep
isigaki_dep
ohara_dep
isigaki_dep
hateruma_dep
5
isigaki_dep
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
taketomi_dep
isigaki_dep
kurosima_dep
isigaki_dep
kohama_dep
isigaki_dep
uehara_dep
isigaki_dep
hatoma_dep
isigaki_dep
ohara_dep
isigaki_dep
hateruma_dep
6
isigaki_dep
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
taketomi_dep
isigaki_dep
kurosima_dep
isigaki_dep
kohama_dep
isigaki_dep
uehara_dep
isigaki_dep
hatoma_dep
isigaki_dep
ohara_dep
isigaki_dep
hateruma_dep
7
isigaki_dep
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
taketomi_dep
isigaki_dep
kurosima_dep
isigaki_dep
kohama_dep
isigaki_dep
uehara_dep
isigaki_dep
hatoma_dep
isigaki_dep
ohara_dep
isigaki_dep
hateruma_dep
8
isigaki_dep
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
taketomi_dep
isigaki_dep
kurosima_dep
isigaki_dep
kohama_dep
isigaki_dep
uehara_dep
isigaki_dep
hatoma_dep
isigaki_dep
ohara_dep
isigaki_dep
hateruma_dep
9
isigaki_dep
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
All objects passed were None
taketomi_dep
isigaki_dep
kurosima_dep
isigaki_dep
kohama_dep
isigaki_dep
uehara_dep
isigaki_dep
hatoma_dep
isigaki_dep
ohara_dep
isigaki_dep
hateruma_dep

In [91]:
import pandas as pd

#現在の最大表示列数の出力
pd.get_option("display.max_columns")

#最大表示列数の指定（ここでは50列を指定）
pd.set_option('display.max_columns', 100)
#現在の最大表示行数の出力
pd.get_option("display.max_rows")

#最大表示行数の指定（ここでは50行を指定）
pd.set_option('display.max_rows', 100)

100

In [122]:
str_1 = "08:00:00"
pd.to_datetime(str_1, format="%H:%M:%S")
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
df_result

Timestamp('1900-01-01 08:00:00')

       0  1          2  3
0  07:30  0 2020-08-14  9

Pandas(Index=0, _1='07:30', _2=0, _3='2020-08-14')
windy_value
Pandas(Index=1, _1='08:30', _2=0, _3='2020-08-14')
9:00 key
Pandas(Index=2, _1='09:30', _2=0, _3='2020-08-14')
9:00 key
Pandas(Index=3, _1='10:30', _2=0, _3='2020-08-14')
11:00 key
Pandas(Index=4, _1='11:30', _2=0, _3='2020-08-14')
11:00 key
Pandas(Index=5, _1='13:00', _2=0, _3='2020-08-14')
13:00 key
Pandas(Index=6, _1='14:00', _2=0, _3='2020-08-14')
15:00 key
Pandas(Index=7, _1='15:00', _2=0, _3='2020-08-14')
15:00 key
Pandas(Index=8, _1='16:00', _2=0, _3='2020-08-14')
17:00 key
Pandas(Index=9, _1='17:00', _2=0, _3='2020-08-14')
17:00 key
Pandas(Index=10, _1='18:00', _2=0, _3='2020-08-14')
17:00 key

['2020-08-14',
 '2020-08-14',
 '2020-08-14',
 '2020-08-14',
 '2020-08-14',
 '2020-08-14',
 '2020-08-14',
 '2020-08-14',
 '2020-08-14',
 '2020-08-14',
 '2020-08-14']

In [26]:
#print(df_top[df_top.columns.duplicated(keep=False)])
l_col_dup = list(df_top.columns)
print(len( l_col_dup))

df_result

74

,0,1,2,0,1,2,3,4,5,6,...,64,65,66,67,68,69,70,71,72,73
0,08:30,0,2020-08-14,2020-08-13,2020-08-14,2020-08-15,2020-08-16,2020-08-17,2020-08-18,2020-08-19,...,11,13,12,11,11.0,14.0,15.0,11.0,10.0,11.0

In [67]:
import pandas as pd
from pandas import Series, DataFrame
# データ1の準備
attri_data1 = {1:['100','101','102','105','106']
        ,0:['Tokyo','Chiba','Kyoto','Gunma','Tokyo']
        ,'birth_year':[1991,1992,1985,1996,1981]
        ,'name':['Yamada','Sato','Suzuki','Kitamura','Aoki']}
data_frame1 = DataFrame(attri_data1)

# データ2の準備
attri_data2 = {'ID':['100','101','102','103','104']
        ,'math':[34,77,45,81,98]
        ,'English':[47,64,16,53,37]
        ,'sex':['F','M','F','F','M']
        ,'index_num':[0,1,2,3,4]}
data_frame2 = DataFrame(attri_data2)

In [68]:
data_frame1
#data_frame2

     1      0  birth_year      name
0  100  Tokyo        1991    Yamada
1  101  Chiba        1992      Sato
2  102  Kyoto        1985    Suzuki
3  105  Gunma        1996  Kitamura
4  106  Tokyo        1981      Aoki

In [69]:
df_result_1 = pd.concat([data_frame1, data_frame2["index_num"]], axis=1)######

In [71]:
df_result_1
#df_result_1.reindex(columns=[0,1])

     1      0  birth_year      name  index_num
0  100  Tokyo        1991    Yamada          0
1  101  Chiba        1992      Sato          1
2  102  Kyoto        1985    Suzuki          2
3  105  Gunma        1996  Kitamura          3
4  106  Tokyo        1981      Aoki          4